<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor:</h2>
    <br>
	<p><img src="../images/face-icon.png"/></p>
    <p>Nombre: David Marcos</p>
	  <p>Titulación: Ingeniero Técnico de Telecomunicaciones</p>
    <p>Profesión: Programador Informático</p>
  </body>
</html>
